<% user.requested_follows.each do |following| %>
  <% if following.approver? current_user %>
    <li class='row-fluid'>

      <%= render :partial => 'followings/following_row',
                 :locals  => { :user         => following.following_user,
                               :following    => following,
                               :pending_text => 'approve now',
                               :full_row     => full_row } %>

    </li>
  <% end %>
<% end %>

<% user.followed_users.each do |followed_user| %>
  <li class='row-fluid'>

    <%= render :partial => 'followings/following_row',
               :locals  => { :user     => followed_user,
                             :full_row => full_row } %>

  </li>
<% end %>
