<!DOCTYPE html>

<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h3>
      <%= @event.kind %> Event Notification
    </h3>
    
    <div id='event-details'>
    
      <% @event.data.each do |k,v| %> 
        <p><%= k %>: <%= v %></p>
      <% end %>
    
    </div>
  </body>

</html>
