<header class='page-header'>
  <h2>Search results for '<%= search_terms %>'</h2>
</header>

<ul class='unstyled'>

  <% users.each do |user| %>

    <li class='row-fluid'>
      
      <div class='span4'>
        <%= render :partial => 'users/user_card',
                  :locals  => { :user          => user,
                                :featured_user => false } %>
      </div>

      <div class='span7'>
        <p class='muted'>
          <%= user.description %>
        </p>
      </div>

      <div class='span1'>

        <% if current_user.follows? user %>

          <span class='label label-success'>following</span>

        <% else %>

          <%= link_to 'Follow', 
              create_following_path( :followed_user_id => user.id ), 
              :method => :post,
              :class  => 'btn' %>

        <% end %>

      </div>
    </li>

  <% end %>

</ul>
