<div class='jumbotron landing-page-header'>

  <div class='container'>
    <div class='span6'>
    <h3>Smooth Operator.</h3>
    <p>
      OpsTab reduces 'notification noise' and gives your organization insight 
      into how your processes are performing.
    </p>
    <%= link_to 'Sign Up for Free', new_user_registration_path, :class => 'btn btn-large btn-primary' %>
    </div>
  </div>
  
</div>

<div class='container'>

  <div class='row value-prop-detail'>

    <div class='span1'>
      
      <%= image_tag 'icons/bell.svg', :class => 'value-prop-icon' %>

    </div>

    <div class='span11'>

      <p class='lead'>
        Less noise, more signal, smarter action. 
      </p>
      <p>
        We send only notifications that matter. Rather than waste time assessing 
        the importance of all messages sent to a mailing list or posted to a blog, 
        OpsTab lets members of your organization follow relevant users and 
        apply filters to ensure that they receive fewer, more-actionable 
        notifications.
      </p>

    </div>

  </div>
  
  <div class='row value-prop-detail'>

    <div class='span1'>
    
      <%= image_tag 'icons/centralized.svg', :class => 'value-prop-icon' %>

    </div>

    <div class='span11'>

      <p class='lead'>
        Root-cause at light-speed.
      </p>
      <p>
        Stumped by an operational incident? Need to figure out why it happened?
        And <i>now</i>? OpsTab has you covered. We store all operational events 
        reported to our system so taht your team can quickly retrace your
        organization's steps right to the source of the problem. From there, 
        it's a breeze to adjust your processes to avoid the same problem in the 
        future.
      </p>

    </div>

  </div>

</div>
