<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
  
    <p>
      Hi <%= @followed_user.name %>,
    </p>

    <p>
      <%= @following_user.name %> would like to follow you on OpsTab. 
      If you choose to approve this request, 
      <%= @following_user.name %> will be able to receive notifications when 
      you post events to the notifier.
    </p>

    <p>
      <%= link_to 'Approve this Request', edit_following_url( @following ) %>
    </p>

    <p>
      Thanks!
    </p>

    <p>
      - OpsTab
    </p>
  
  </body>
</html>
